<a href="/treks/{{trekId}}.html" class="card">
  <img src="{{image}}" />
  <span class="price">from {{price}}</span>
  <div class="content">
    <div class="cardFacts">
      <div>
        <div class="value">{{days}}</div>
        <div class="label">Days</div>
      </div>
      <div>
        <div class="value">{{groupSize}}</div>
        <div class="label">Max Group Size</div>
      </div>
      <div>
        <div class="value">{{difficulty}}</div>
        <div class="label">Difficulty</div>
      </div>
    </div>
    <h3 class="category">{{category}}</h3>
    <div class="info">
      <div class="name">{{name}}</div>
      <div class="destination">{{destination}}</div>
    </div>
  </div>
</a>