<!-- Page for a single trek -->
{{#> page title=name areaIsTreks=true}}

  {{#>hero}}
    <h1>
      {{ name }}
    </h1>
    <p class="tagline">
      {{ subhead }}
    </p>
  {{/hero}}

  <section class="summary centerColumn white">
    <div class="autoColumns">
      <div>
        <div class="verticalLine"></div>
        <h2>
          {{ category }}
        </h2>
        <p class="subhead">
          {{ destination }}
        </p>
        <p>
          {{ introduction }}
        </p>
      </div>
      <div class="guide">
        <img src="{{ avatar }}">
        <h3 class="">Your Guide</h3>
        <div>
          <div class="meta grey">Name: {{ guide }}</div>
          <div class="meta grey">Nation: {{ country }}</div>
        </div>
      </div>
    </div>
  </section>

  <section class="callout">
    <div class="background"></div>
    <div class="centerColumn">
      <div class="autoColumns trekFacts">
        <div>
          <div class="icon pd-icon-money"></div>
          <div class="label">Price</div>
          <div class="value">{{ price }}</div>
        </div>
        <div>
          <div class="icon pd-icon-hour"></div>
          <div class="label">Date</div>
          <div class="value">{{ date }}</div>
        </div>
        <div>
          <div class="icon pd-icon-camp-bag"></div>
          <div class="label">Difficulty</div>
          <div class="value">{{ difficulty }}</div>
        </div>
        <div>
          <div class="icon pd-icon-male"></div>
          <div class="label">Max Group Size</div>
          <div class="value">{{ groupSize }}</div>
        </div>
        <div>
          <div class="icon pd-icon-watch"></div>
          <div class="label">Days</div>
          <div class="value">{{ days }}</div>
        </div>
        <div>
          <div class="icon pd-icon-distance"></div>
          <div class="label">Distance</div>
          <div class="value">{{ distance }}</div>
        </div>
      </div>
    </div>
  </section>

  <section class="centerColumn white">
    <div class="verticalLine"></div>
    <h2>
      More Info
    </h2>
    <p class="subhead">
      lorem ipsum
    </p>
    {{{ [@text] }}}
  </section>

  <section class="centerColumn">
    <div class="verticalLine"></div>
    <h2>
      Related trips
    </h2>
    <p class="subhead">
      for the coming year
    </p>
    {{> cards links }}
  </section>

  <section class="centerColumn callToAction">
    <h2>This journey begins with the first step</h2>
    <p>
      <a href="/contact.html" class="action">Contact Us</a>
    </p>
  </section>

{{/page}}
